[mysqld]
rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
collation-server=latin1_bin # (or utf8_bin, binary)
log-bin
binlog-format=ROW
max_connections=512
# https://github.com/facebook/mysql-5.6/issues/623
transaction-isolation=READ-COMMITTED
